<h1>Thank you for registering!</h1>

<p>You can log in to your account below</p>
<%= flash[:alert] %>
<form action="confirmation" method="post">
  <input type="text" name="username" placeholder="username"/>
  <input type="password" name="password" placeholder="password"/>
  <input type="submit" name="submit" value="Log in"/>
</form>
